In [1]:
print('Q1')
n=5

for i in range(n):
    for j in range(1,i+1):
        print('ineuron', end=' ')
    print()

Q1

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

In [2]:
print('Q2')
n=5

for i in range(n) :
    for j in range(i,n):
        print('   ',end=' ')
    for j in range(0,i+1):
        print('ineuron', end=' ')
    print()

for i in range(n) :
    for j in range(0,i+2) :
        print('   ',end=' ')
    for j in range(i,n-1):
        print('ineuron',end=' ')
    print()

Q2
                    ineuron
                ineuron ineuron
            ineuron ineuron ineuron
        ineuron ineuron ineuron ineuron
    ineuron ineuron ineuron ineuron ineuron
        ineuron ineuron ineuron ineuron
            ineuron ineuron ineuron
                ineuron ineuron
                    ineuron

In [1]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

#q3 : Try to extract all the list entity 
print('Q3. List extraction :')
for i in l :
    if type(i) == list :
        print('index= ',l.index(i),'; Element= ',i)

Q3. List extraction :
index=  0 ; Element=  [1, 2, 3, 4]
index=  5 ; Element=  ['ineuron', 'data science ']

In [2]:
# q4 : Try to extract all the dict enteties       
print('\n','Q4. Dictionary extraction')
for i in l :
    if type(i)==dict :
        print('index= ',l.index(i),'; Element= ',i)

 Q4. Dictionary extraction
index=  4 ; Element=  {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [3]:
#q5 : Try to extract all the tuples entities

print('\n','Q5. Tuple extraction :')
for i in l :
    if type(i) == list :
        print('index= ',l.index(i),'; Element= ',i)

 Q5. Tuple extraction :
index=  0 ; Element=  [1, 2, 3, 4]
index=  5 ; Element=  ['ineuron', 'data science ']

In [4]:
#q6 : Try to extract all the numerical data it may be a part of dict key and values 
print('\n','Q6. Numerical data extraction :')
l_num=[]
for i in l :
    if type(i) == list or type(i)==tuple or type(i) == set :
        for j in i :
            if type(j)==int :
                l_num.append(j)
                    
    if type(i) == dict :
        for j,k in i.items() :
            if type(j) == int :
                l_num.append(j)
            if type(k) == int :
                l_num.append(k)
            
print(l_num)

 Q6. Numerical data extraction :
[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [5]:
#q7 : Try to give summation of all the numeric data 
print('\n','Q7. Sum of all numeric data :')

s=0
for i in l_num :
    s += i
    
print('Sum = ', s)

 Q7. Sum of all numeric data :
Sum =  156

In [6]:
#q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
print('\n','Q8. Sort Odd numeric data :')
l_odd=[]
for i in l_num :
    if i % 2 != 0 :
        l_odd.append(i)
        
print(l_odd)

 Q8. Sort Odd numeric data :
[1, 3, 3, 5, 3, 5, 7, 45, 5, 23, 3, 7]

In [7]:
#q9 : Try to extract "ineruon" out of this data
print('\n','Q9. extract "ineruon" :')

for i in l :
    if type(i) == list or type(i)==tuple or type(i) == set :
        for j in i :
            
            if j == "ineruon" :
                
                print(i,'\n','Index - ', i.index(j),';',j)
                    
    if type(i) == dict :
        for j,k in i.items() :
            if j == "ineruon" :
                print(i,'\n',j)
            if k == "ineruon" :
                print(i,'\n',k)
                
#unable to track the problem with this code

 Q9. extract "ineruon" :

In [8]:
 #q15 : Try to unwrape all the collection inside collection and create a flat list
print('\n','Q15. to unwrape all the collection inside collection and create a flat list :')
l_all=[]
for i in l :
    if type(i) == list or type(i)==tuple or type(i) == set :
        for j in i :
            l_all.append(j)
                    
    elif type(i) == dict :
        for j,k in i.items() :
            l_all.append(j)
            l_all.append(k)
    else :
        l_all.append(i)
print(l_all)

 Q15. to unwrape all the collection inside collection and create a flat list :
[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science ']

In [9]:
#q10 :Try to find out a number of occurances of all the data
print('\n','Q10. number of occurances of all the data :')

s_all=set(l_all)
for i in s_all:
    print('Element :',i,'; frequency :', l_all.count(i))

 Q10. number of occurances of all the data :
Element : 1 ; frequency : 1
Element : 2 ; frequency : 2
Element : 3 ; frequency : 4
Element : 4 ; frequency : 4
Element : 5 ; frequency : 3
Element : 6 ; frequency : 3
Element : 7 ; frequency : 2
Element : k3 ; frequency : 1
Element : 8 ; frequency : 1
Element : sudh ; frequency : 1
Element : 45 ; frequency : 1
Element : k1 ; frequency : 1
Element : data science  ; frequency : 1
Element : ineuron ; frequency : 2
Element : k2 ; frequency : 1
Element : kumar ; frequency : 1
Element : 23 ; frequency : 1

In [10]:
#q11 : Try to find out number of keys in dict element
print('\n','Q11. number of keys in dict element :')
l_dict=[]
count=0
for i in l :
    if type(i)== dict :
        for j in i:
            l_dict.append(j)
            count+=1
print(l_dict,'\n','total no of keys =',count)

 Q11. number of keys in dict element :
['k1', 'k2', 'k3', 3, 7]
 total no of keys = 5

In [11]:
#q12 : Try to filter out all the string data 
print('\n','Q12. filter out all the string data :')
l_str=[]
for i in l :
    if type(i) == list or type(i)==tuple or type(i) == set :
        for j in i :
            if type(j)==str :
                l_str.append(j)
                    
    if type(i) == dict :
        for j,k in i.items() :
            if type(j) == str :
                l_str.append(j)
            if type(k) == str :
                l_str.append(k)
            
print(l_str)

 Q12. filter out all the string data :
['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron', 'data science ']

In [12]:
#q13 : Try to Find  out alphanum in data
#Question not clear

In [13]:
#q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset
print('\n','Q14. find out multiplication of all numeric value in  the individual collection :')

for i in l :
    product=1
    if type(i) == list or type(i)==tuple or type(i) == set :
        for j in i :
            if type(j)==int :
                product*=j
        print(i,'\n','Product =',product)
                    
    if type(i) == dict :
        for j,k in i.items() :
            if type(j) == int :
                product*=j
            if type(k) == int :
                product*=k
        print(i,'\n','Product =',product)

 Q14. find out multiplication of all numeric value in  the individual collection :
[1, 2, 3, 4]
 Product = 24
(2, 3, 4, 5, 6)
 Product = 720
(3, 4, 5, 6, 7)
 Product = 2520
{45, 4, 5, 23}
 Product = 20700
{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}
 Product = 1008
['ineuron', 'data science ']
 Product = 1