# Question1. Create a function that takes three arguments a, b, c and returns the sum of the numbers that are evenly divided by c from the range a, b inclusive.
Examples
evenly_divisible(1, 10, 20) ➞ 0
No number between 1 and 10 can be evenly divided by 20.
evenly_divisible(1, 10, 2) ➞ 30
2 + 4 + 6 + 8 + 10 = 30
evenly_divisible(1, 10, 3) ➞ 18
3 + 6 + 9 = 18

In [3]:
def find_multiple_and_sum(a,b,c):
    '''This function returns all the multiples of c in the range of a to b'''
    try :
        count,sum=0,0
        l=[]
        
        for i in range(a,b+1):
            if i%c == 0:
                count+=1
                l.append(i)
                sum+=i
        print('number of multiples of ',c,' in between ',a,' and ',b,' are ',count)
        if count>0:
            
            print('All those multiples are : ',l)
            print('Sum of all those multiples = ',sum)
    except Exception as e:
        print('this is my error msg : ',e)

In [4]:
find_multiple_and_sum(1,10,20)

number of multiples of  20  in between  1  and  10  are  0

In [5]:
find_multiple_and_sum(1,10,2)

number of multiples of  2  in between  1  and  10  are  5
All those multiples are :  [2, 4, 6, 8, 10]
Sum of all those multiples =  30

In [6]:
find_multiple_and_sum(1,10,3)

number of multiples of  3  in between  1  and  10  are  3
All those multiples are :  [3, 6, 9]
Sum of all those multiples =  18

# Question2. Create a function that returns True if a given inequality expression is correct and False otherwise.
Examples
correct_signs(&quot;3 &lt; 7 &lt; 11&quot;) ➞ True
correct_signs(&quot;13 &gt; 44 &gt; 33 &gt; 1&quot;) ➞ False
correct_signs(&quot;1 &lt; 2 &lt; 6 &lt; 9 &gt; 3&quot;) ➞ True

In [62]:
def check_inequality(s):
    '''Check any Inequality Statement : Correct or not'''
    try:    
        l=list(s.split(' '))
        for i in range(0,len(l)-2,2):
            if l[i+1]=='>':    
                if int(l[i]) < int(l[i+2]) :
                    return False
            if l[i+1]=='<':
                if int(l[i]) > int(l[i+2]):
                    return False
        return True
    except Exception as e:
        print('this is my error msg : ',e)

In [63]:
check_inequality('1 < 2 < 6 < 9 > 3')

True

In [64]:
check_inequality('13 > 44 > 33 > 1')

False

In [65]:
check_inequality('3 < 7 < 11')

True

In [66]:
check_inequality('as > hi < i9u')

this is my error msg :  invalid literal for int() with base 10: 'as'

In [67]:
check_inequality('21 < 45 > ijh ')

this is my error msg :  invalid literal for int() with base 10: 'ijh'

In [68]:
check_inequality('2 < 4 > 5')

False

# Question3. Create a function that replaces all the vowels in a string with a specified character.
Examples
replace_vowels(&quot;the aardvark&quot;, &quot;#&quot;) ➞ &quot;th# ##rdv#rk&quot;
replace_vowels(&quot;minnie mouse&quot;, &quot;?&quot;) ➞ &quot;m?nn?? m??s?&quot;
replace_vowels(&quot;shakespeare&quot;, &quot;*&quot;) ➞ &quot;sh*k*sp**r*&quot;

In [97]:
def replace_vowels(text,character):
    '''this function can find and replace all the vowels 
    in your provided text with the character given by you'''
    try:
        print('Your original text : ',text)
        l=['a','e','i','o','u','A','E','I','O','U']
        for i in range(len(text)):
            if text[i] in l:
                text=text[:i]+character+text[i+1:]
        return 'After replacement : '+text    
                
    except Exception as e:
        print('thiss is my error msg : ',e)

In [98]:
replace_vowels('the aardvark','#')

Your original text :  the aardvark

'After replacement : th# ##rdv#rk'

In [99]:
replace_vowels('minnie mouse','?')

Your original text :  minnie mouse

'After replacement : m?nn?? m??s?'

In [100]:
replace_vowels('shakespeare','*')

Your original text :  shakespeare

'After replacement : sh*k*sp**r*'

# Question4. Write a function that calculates the factorial of a number recursively.
Examples
factorial(5) ➞ 120
factorial(3) ➞ 6
factorial(1) ➞ 1
factorial(0) ➞ 1

In [106]:
def factorial(n):
    if n<=1:
        return 1
    if n>1:
        return n*factorial(n-1)

In [107]:
factorial(3)

6

In [108]:
factorial(1)

1

In [109]:
factorial(5)

120

In [110]:
factorial(0)

1

# Question 5
Hamming distance is the number of characters that differ between two strings.
To illustrate:
String1: &quot;abcbba&quot;
String2: &quot;abcbda&quot;
Hamming Distance: 1 - &quot;b&quot; vs. &quot;d&quot; is the only difference.
Create a function that computes the hamming distance between two strings.
Examples
hamming_distance(&quot;abcde&quot;, &quot;bcdef&quot;) ➞ 5
hamming_distance(&quot;abcde&quot;, &quot;abcde&quot;) ➞ 0
hamming_distance(&quot;strong&quot;, &quot;strung&quot;) ➞ 1

In [113]:
def hamming_distance(s1,s2):
    try: 
        count=0
        if len(s1)!=len(s2):
            return 'Length of two strings is not same.'
        else :
            for i in range(len(s1)):
                if s1[i]!=s2[i]:
                    count+=1
        return 'Hamming Distance = '+str(count)
    except Exception as e:
        print('this is the error msg : ',e)

In [114]:
hamming_distance("abcde", "abcde")

'Hamming Distance = 0'

In [115]:
hamming_distance("strong", "strung")

'Hamming Distance = 1'

In [116]:
hamming_distance("abcde", "bcdef")

'Hamming Distance = 5'