Question1. Write a function that stutters a word as if someone is struggling to read it. The first two letters are repeated twice with an ellipsis ... and space after each, and then the word is pronounced with a question mark ?.
Examples
stutter(&quot;incredible&quot;) ➞ &quot;in... in... incredible?&quot;
stutter(&quot;enthusiastic&quot;) ➞ &quot;en... en... enthusiastic?&quot;
stutter(&quot;outstanding&quot;) ➞ &quot;ou... ou... outstanding?&quot;

Hint :- Assume all input is in lower case and at least two characters long.

Question 2.Create a function that takes an angle in radians and returns the corresponding angle in degrees rounded to one decimal place.
Examples
radians_to_degrees(1) ➞ 57.3
radians_to_degrees(20) ➞ 1145.9
radians_to_degrees(50) ➞ 2864.8

Question 3. In this challenge, establish if a given integer num is a Curzon number. If 1 plus
2 elevated to num is exactly divisible by 1 plus 2 multiplied by num, then num is a Curzon
number.
Given a non-negative integer num, implement a function that returns True if num is a Curzon
number, or False otherwise.
Examples
is_curzon(5) ➞ True
2 ** 5 + 1 = 33
 2 * 5 + 1 = 11
 33 is a multiple of 11
is_curzon(10) ➞ False
 2 ** 10 + 1 = 1025
 2 * 10 + 1 = 21
 1025 is not a multiple of 21
is_curzon(14) ➞ True
 2 ** 14 + 1 = 16385
 2 * 14 + 1 = 29
 16385 is a multiple of 29

Question 4.Given the side length x find the area of a hexagon.

Examples
area_of_hexagon(1) ➞ 2.6
area_of_hexagon(2) ➞ 10.4
area_of_hexagon(3) ➞ 23.4

Question 5. Create a function that returns a base-2 (binary) representation of a base-10
(decimal) string number. To convert is simple: ((2) means base-2 and (10) means base-10)
010101001(2) = 1 + 8 + 32 + 128.
Going from right to left, the value of the most right bit is 1, now from that every bit to the left
will be x2 the value, value of an 8 bit binary numbers are (256, 128, 64, 32, 16, 8, 4, 2, 1).
Examples
binary(1) ➞ &quot;1&quot;
 1*1 = 1
binary(5) ➞ &quot;101&quot;
 1*1 + 1*4 = 5
binary(10) ➞ &quot;1010&quot;
 1*2 + 1*8 = 10

In [1]:
#Q1

def sttuter(word):
    print((word[0:2]+'...')*2,word,'?')

In [3]:
sttuter('incredible')
sttuter('enthusiastic')
sttuter('outstanding')

in...in... incredible ?
en...en... enthusiastic ?
ou...ou... outstanding ?

In [17]:
#Q2
from math import pi
def radians_to_degrees(rad):
    return round((180/pi)*rad,2)

In [19]:
radians_to_degrees(1)

57.3

In [20]:
radians_to_degrees(20)

1145.92

In [21]:
radians_to_degrees(50)

2864.79

In [25]:
#Q3

def isCurzonNumber(n):
    try:
        if n<0 :
            return 'invalid input'
        else :
            x=2**n + 1
            y=2*n + 1
            if x%y ==0 :
                return True
            else:
                return False
    except Exception as e:
        print('this is the error msg :',e)

In [26]:
isCurzonNumber(5)

True

In [27]:
isCurzonNumber(7)

False

In [28]:
isCurzonNumber(14)

True

In [35]:
#Q4

def area_hexagon(side):
    '''can find the area of a regular hexagon'''
    try:
        area= (((3)**(3/2))/2)*(side**2)
        return round(area,1)
    except Exception as e:
        print('this is the error msg:',e)

In [36]:
area_hexagon(1)

2.6

In [37]:
area_hexagon(2)

10.4

In [38]:
area_hexagon(3)

23.4

In [69]:
#Q5

def binary_to_decimal(n):
    '''Enter any binary number to get converted into its decimal form'''
    try:
        x,decimal=0,0
        while n>0:
            y=n%10
            decimal+= y*(2**x)
            n=n//10
            x+=1
        return decimal
    except Exception as e:
        print('this is my error msg : ',e)
        
def decimal_to_binary(n):
    try:
        l=[]
        while n!= 0 :
            l.append(n%2)
            n=int(n/2)
        l.reverse()
        for i in l:
            print(i,end='')
    except Exception as e:
        print('this is my error msg : ',e)

In [70]:
binary_to_decimal(101)

5

In [71]:
decimal_to_binary(10)

1010

In [72]:
decimal_to_binary(5)

101

In [73]:
decimal_to_binary(1)

1

In [77]:
binary_to_decimal(101011)

43

In [78]:
decimal_to_binary(43)

101011