# Question1
Create a function that takes three parameters where:

 x is the start of the range (inclusive).

 y is the end of the range (inclusive).

 n is the divisor to be checked against.

Return an ordered list with numbers in the range that are divisible by the third parameter n.

Return an empty list if there are no numbers that are divisible by n.

Examples

list_operation(1, 10, 3) ➞ [3, 6, 9]

list_operation(7, 9, 2) ➞ [8]

list_operation(15, 20, 7) ➞ []

In [4]:
def list_operation(x,y,n):
    '''x : the start of the range (inclusive).

     y : the end of the range (inclusive).

     n : the divisor to be checked against.

    Return an ordered list with numbers in the range that are divisible by the third parameter n.

    Return an empty list if there are no numbers that are divisible by n.'''
    try:
        l=list(range(x,y+1))
        l_divisible=[]
        for i in l:
            if i%n==0:
                l_divisible.append(i)
        return l_divisible
    except Exception as e:
        print('Error msg : ',e)

In [5]:
list_operation(1, 10, 3)

[3, 6, 9]

In [6]:
list_operation(7, 9, 2)

[8]

In [7]:
list_operation(15, 20, 7)

[]

# Question2
Create a function that takes in two lists and returns True if the second list follows the first list
by one element, and False otherwise. In other words, determine if the second list is the first
list shifted to the right by 1.

Examples

simon_says([1, 2], [5, 1]) ➞ True

simon_says([1, 2], [5, 5]) ➞ False

simon_says([1, 2, 3, 4, 5], [0, 1, 2, 3, 4]) ➞ True

simon_says([1, 2, 3, 4, 5], [5, 5, 1, 2, 3]) ➞ False

Notes

 Both input lists will be of the same length, and will have a minimum length of 2.

 The values of the 0-indexed element in the second list and the n-1th indexed element
in the first list do not matter.

In [25]:
def simon_says(l1,l2):
    '''returns True if the second list follows the first list by one element'''
    try:
        for i in l1[:-1]:
            if i not in l2:
                return False
        return True
    except Exception as e:
        print('Error msg : ',e)

In [26]:
simon_says([1, 2], [5, 1])

True

In [27]:
simon_says([1, 2], [5, 5])

False

In [28]:
simon_says([1, 2, 3, 4, 5], [0, 1, 2, 3, 4])

True

In [29]:
simon_says([1, 2, 3, 4, 5], [5, 5, 1, 2, 3])

False

# Question3
A group of friends have decided to start a secret society. The name will be the first letter of
each of their names, sorted in alphabetical order.
Create a function that takes in a list of names and returns the name of the secret society.

Examples
society_name([&quot;Adam&quot;, &quot;Sarah&quot;, &quot;Malcolm&quot;]) ➞ &quot;AMS&quot;

society_name([&quot;Harry&quot;, &quot;Newt&quot;, &quot;Luna&quot;, &quot;Cho&quot;]) ➞ &quot;CHLN&quot;

society_name([&quot;Phoebe&quot;, &quot;Chandler&quot;, &quot;Rachel&quot;, &quot;Ross&quot;, &quot;Monica&quot;, &quot;Joey&quot;])

In [42]:
def society_name(l):
    try:
        l1=[]
        for i in l:
            l1.append(i[0])
        l1.sort()
        for i in l1:
            print(i,end='')
    except Exception as e:
        print('error msg : ',e)

In [43]:
society_name(["Adam", "Sarah", "Malcolm"])

AMS

In [44]:
society_name(["Harry", "Newt", "Luna", "Cho"])

CHLN

In [45]:
society_name(["Phoebe", "Chandler", "Rachel", "Ross", "Monica", "Joey"])

CJMPRR

# Question4
An isogram is a word that has no duplicate letters. Create a function that takes a string and
returns either True or False depending on whether or not it&#39;s an &quot;isogram&quot;.

Examples

is_isogram(&quot;Algorism&quot;) ➞ True

is_isogram(&quot;PasSword&quot;) ➞ False

Not case sensitive.

is_isogram(&quot;Consecutive&quot;) ➞ False

Notes

 Ignore letter case (should not be case sensitive).

 All test cases contain valid one word strings.

In [51]:
def is_isogram(s):
    '''returns either True or False depending on whether or not it's an "isogram".'''
    try:
        x,y=set(s.lower()),list(s.lower())
        if len(x)==len(y):
            return True
        else:
            return False
    except Exception as e:
        print('Error msg : ',e)

In [52]:
is_isogram("Algorism")

True

In [53]:
is_isogram("PasSword")

False

In [54]:
is_isogram("Consecutive")

False

# Question5
Create a function that takes a string and returns True or False, depending on whether the
characters are in order or not.

Examples

is_in_order(&quot;abc&quot;) ➞ True

is_in_order(&quot;edabit&quot;) ➞ False

is_in_order(&quot;123&quot;) ➞ True

is_in_order(&quot;xyzz&quot;) ➞ True

Notes

You don&#39;t have to handle empty strings.

In [58]:
def is_in_order(s):
    try:
        l=list(s)
        l1=list(l.sort())
        for i in range(len(l)):
            if l[i]!=l1[i]:
                return False
        return True
    except Exception as e:
        print('Error msg : ',e)

In [59]:
is_in_order("abc")

Error msg :  'NoneType' object is not iterable

In [60]:
l=[1,3,5,6,2,4]
print(type(l))
l1=list(l.sort())
print(type(l1))

<class 'list'>

TypeError: 'NoneType' object is not iterable