In [ ]:
Todays task :
    q1 : Try to print a prime number in between 1 to 1000
    q2 : Try to write a function which  is equivalent  to print function in python
    q3 : Try to write a function which is a replica of list append , extend and pop function 
    q4 : Try to write a lambda function which can return a concatination of all the string that we will pass
    q5 : Try to write a lambda function which can return list of square of all the data between 1-100 
    q6 : Try to write a 10 Different different example of lambda function with a choice of your taks 
    q7 : Try to wwrite a funtion whihc can perform a read operation from .txt file 
        
        shivan@ineuron.ai
        sudhashu@ineuron.ai

In [8]:
#Q1
l_prime=[]
a=2
while a <= 1000 :
    flag=False
    for i in range(2,a):
        if a%i == 0 :
            flag= True
            #break
    if flag == False :
        l_prime.append(a)
    a+=1
    
print('\nList of all Prime numbers less than 1000 :\n\n',l_prime)

List of all Prime numbers less than 1000 :

 [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

In [29]:
#Q2
def Print(*a) :
    p=''
    for i in a:
        p=p+str(i)
        
    return p

In [33]:
no=9614929765
Print('My phone number is ',no ,' .')

'My phone number is 9614929765 .\n'

In [79]:
#Q3
def list_append(l,e):
    '''l= Enter a list first and e= the element you want to append'''
    l=l+[e]
    return l

def list_extend(l,s):
    '''l= Enter the list and s= the string you want to extend inside the list'''
    for i in range(len(s)):
        l+=s[i]
    return l

def list_pop(l,i):
    '''Enter the list and index of the element that you want to remove'''
    remove=l[i]
    l=l[:i]+l[i+1:]
    return remove,l

In [80]:
l2=[]
for i in range(10):
    l2=list_append(l2,i)
print(l2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [81]:
list_extend(l2,'INDIA')

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'I', 'N', 'D', 'I', 'A']

In [82]:
list_pop(l2,10)

('I', [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'N', 'D', 'I', 'A'])

In [96]:
#Q4
 
def concatenate_str(*a):
    s=''
    for i in a :
        s+=  str(i)+' '
    return s

In [98]:
concatenate_str('my','name','is','tinku','hore')

'my name is tinku hore '

In [114]:
a= lambda *a :[str(i)+' ' for i in a]
a('my','name','is','tinku','hore')

['my ', 'name ', 'is ', 'tinku ', 'hore ']

In [115]:
#Q5

f= lambda :[i**2 for i in range(1,101)]
f()

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000]

In [110]:
even = lambda a,b : [i if i%2==0 for i in range(a,b+1)]
even(1,50)

SyntaxError: invalid syntax (1068337233.py, line 1)

In [8]:
#Q7

#f = open("test.txt", mode='r', encoding='utf-8')

In [5]:
with open("test.txt",'r') as f:
    content=f.read()
    print(content)

My name is Tinku Hore.
I'm from Azimganj, MSD, WB.
I love Python.
I love Python.